@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;700&display=swap");
/* line 4, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
body {
  font-family: 'Montserrat', sans-serif;
}

/* line 8, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.amatic {
  font-family: 'Amatic SC', cursive;
}

/* line 12, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.h2-pnk {
  color: #ff5d8f;
}

/* line 16, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 21, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a42cd6;
}

/* line 26, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

/* line 31, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.site-header {
  height: 100vh;
  background-image: url("../img/bg-2.jpg");
  background-size: cover;
  background-position: cover cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 41, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.main-h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 13rem;
  margin-bottom: 20vh;
}

/* line 49, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.site-navigation {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}

@media (max-width: 928px) {
  /* line 49, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
  .site-navigation {
    justify-content: space-around;
  }
}

/* line 66, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.logo {
  padding: 2rem 3.8rem;
}

/* line 67, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.logo img {
  height: 6rem;
  margin-top: 2rem;
}

/* line 75, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.links {
  margin: 1rem 4rem 1.2rem 2rem;
}

/* line 78, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.links a {
  color: #000;
  text-decoration: none;
  margin: 1rem 2rem;
  padding: 2.4rem 1rem;
}

/* line 83, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.links a:hover {
  color: #a42cd6;
  transition: all ease 0.3s;
}

@media (max-width: 928px) {
  /* line 78, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
  .links a {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 3rem 5rem;
    border-top: 1px solid #cecece;
  }
  /* line 88, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
  .links a:first-child {
    border-top: none;
  }
  /* line 98, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
  .links a:hover {
    background-color: #cecece;
  }
}

@media (max-width: 928px) {
  /* line 75, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
  .links {
    margin: 0;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 55%;
    display: none;
    transition: all 0.2s ease-in;
  }
}

/* line 122, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.nav-active {
  display: block;
}

/* line 126, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.burger {
  display: none;
  cursor: pointer;
}

/* line 130, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.burger div {
  width: 2.5rem;
  height: 2px;
  background-color: #000;
  margin: 5px;
}

@media (max-width: 928px) {
  /* line 126, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
  .burger {
    display: block;
  }
}

/* line 146, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.grid-2 {
  display: flex;
  justify-content: space-between;
}

/* line 149, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.grid-2 img {
  width: 45%;
}

/* line 153, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.splitted-text {
  width: 50%;
  margin: 1rem auto;
}

/* line 158, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.hero-services {
  margin-top: 6rem;
  min-height: 100vh;
  background: #ffc4d6;
  background: linear-gradient(145deg, #ffc4d6 0%, #ff5d8f 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3rem;
}

/* line 166, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.grid-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5rem;
  justify-items: center;
}

/* line 173, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.service {
  text-align: center;
  background-color: #8447ff;
  width: 100%;
  padding: 1rem 2.3rem;
  margin: 2rem 1rem;
  border-radius: 3rem;
}

/* line 180, C:/Users/jesus/prog/nails-jl/scss/styles.scss */
.service p {
  color: #fadde1;
}

/*# sourceMappingURL=styles.css.map */