@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@400;700&display=swap');
@import 'vars.scss';

body {
   font-family: 'Montserrat', sans-serif;
   @media (max-width: 600px) {
      text-align: center;
   }
}

.amatic {
   font-family: 'Amatic SC', cursive;
}

@media (max-width: 700px) {
   .main-title {
      line-height: 1.3;
   }
}

.h2-pnk {
   color: $pink;
}

::-webkit-scrollbar {
   width: 12px;
   background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: $violet;
}

::-webkit-scrollbar-track {
   border-radius: 10px;
   background-color: #F5F5F5;
}

.site-header {
   height: 100vh;
   background-image: url('../img/bg-2.jpg');
   background-size: cover;
   background-position: center center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.main-h1 {
   // color: #fff;
   font-family: 'Amatic SC', cursive;
   text-align: center;
   font-size: 13rem;
   margin-bottom: 13vh;
   @media (max-width: 700px) {
      line-height: 1.3;
      font-size: 8rem;
      width: 95%;
      margin: auto;
   }
}

.site-navigation {
   position: sticky;
   top: 0;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   align-items: center;
   // border-bottom: 1px solid #dadce4;
   height: 12vh;
   // background-color: #fff;
   // box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12), inset 0 -1px 0 0 #dadce0;

   @media (max-width: 928px) {
      justify-content: space-around;
   }
}

.logo {
   img {
      height: 6rem;
      margin-top: 2rem;
   }

   padding: 2rem 3.8rem;
}

.links {
   margin: 1rem 4rem 1.2rem 2rem;

   a {
      color: #000;
      text-decoration: none;
      margin: 1rem 2rem;
      padding: 2.4rem 1rem;

      &:hover {
         color: $violet;
         transition: all ease 0.3s;
      }

      @media (max-width: 928px) {
         &:first-child {
            border-top: none;
         }

         width: 100%;
         margin: 0 auto;
         display: block;
         padding: 3rem 5rem;
         border-top: 1px solid #cecece;

         &:hover {
            background-color: $thin-pink;
         }
      }
   }

   @media (max-width: 928px) {
      margin: 0;
      position: absolute;
      right: 0px;
      height: 90vh;
      top: 12vh;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 55%;
      // transform: translateX(100%);
      display: none;
      transition: all 0.2s ease-in;
   }
}

.nav-active {
   display: block;
}

.burger {
   display: none;
   cursor: pointer;

   div {
      width: 2.5rem;
      height: 2px;
      background-color: #000;
      margin: 5px;
   }

   @media (max-width: 928px) {
      display: block;
   }
}


// End navigation

// Start styles
.grid-2 {
   display: flex;
   justify-content: space-between;
   @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
      p {
         width: 100%;
      }
   }
   img {
      width: 45%;
   }
}

.splitted-text {
   width: 50%;
   margin: 1rem auto;
}

.hero-services {
   margin-top: 6rem;
   min-height: 100vh;
   background: rgb(255, 196, 214);
   background: linear-gradient(145deg, rgba(255, 196, 214, 1) 0%, rgba(255, 93, 143, 1) 100%);
   @include center(true);
   padding-bottom: 8rem;
}

.grid-services {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 2.5rem;
   justify-items: center;
   @media (max-width: 720px) {
      display: block;      
   }
}

.service {
   text-align: center;
   background-color: $blue-violet;
   width: 100%;
   padding: 1rem 2.3rem;
   margin: 1rem;
   border-radius: 3rem;

   p {
      color: $thin-pink;
   }
}

.last-works-sect {
   background-color: $thin-pink;
   @include center(true);
}


.grid-lt {
   width: 80%;
   margin: 3rem auto;
   display: flex;
   flex-direction: column;
}

.lt-pic {
   margin: 1.5rem auto;
   display: flex;
   justify-content: space-around;

   img {
      width: calc(50% - 3rem);
   }
}

.map-sect {
   min-height: 70vh;
   @include dark-filter('../img/asset-2.jpg');
   background-size: cover;
   background-position: cover cover;
   @include center(true);
}

.map-content {
   display: flex;
   justify-content: space-around;
   align-items: center;
   @media (max-width: 1000px) {
      @include center(true);
   }
   h3 {
      font-size: 12rem;
      line-height: 1.2;
      color: #fff;
      @media (max-width: 700px) {
         text-align: center;
         line-height: 1;
         width: 90%;
         margin: 2rem auto;
      }
   }
}

.map {
   height: 50vh;
   width: 100%;
   @media (max-width: 1000px) {
      height: 25vh;
      width: 80%;
      margin: 2rem auto;
   }
}

#contacto {
   min-height: 70vh;
   background: rgb(106, 0, 244);
   background: linear-gradient(270deg, rgba(106, 0, 244, 1) 0%, rgba(255, 93, 143, 1) 73%);
   @include center(true);
}

.smb {
   display: flex;
   justify-content: space-around;
   align-items: center;
   @media (max-width: 460px) {
      @include center(true);
   }
}

.btn-s {
   width: 10rem;
   height: 10rem;
   transition: all ease-in 0.3s;
   a {
      color: white;
      background-color: #ff89b8;
      padding: 2.2rem 3.2rem;
      font-size: 2.8rem;
      border-radius: 2rem;
      text-align: center;
   }
   &:hover {
      transform: translateY(-0.3rem)
   }
}

.e-footer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   background-color: #1e0935;
   padding: 1.2rem 0;
   color: white;
   text-align: center;
   text-shadow: 0 0 black;

   a {
      color: #fff;
   }
}